# Nhiệm vụ 2: Khám phá và xử lý dữ liệu Marketing Campaign

# 1. Import thư viện và nạp dữ liệu vào notebook

In [6]:
# NHIỆM VỤ 2: KHÁM PHÁ VÀ XỬ LÝ DỮ LIỆU MARKETING CAMPAIGN

# Bước 1: Import thư viện
import pandas as pd
import numpy as np

# Bước 2: Đọc file CSV
# Đảm bảo file "marketing_campaign.csv" nằm cùng thư mục notebook
marketing_data = pd.read_csv("marketing_campaign.csv")
# Bước 3: Xem thông tin tổng quan
print("5 dòng đầu tiên của dữ liệu:")
display(marketing_data.head())

print("\nThông tin dữ liệu:")
marketing_data.info()

print("\nTên các cột trong dataset là:")
print(marketing_data.columns.tolist())

5 dòng đầu tiên của dữ liệu:

  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...

Thông tin dữ liệu:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                    --------------  -----
 0   ID	Year_Birth	Education	Marital_Status	Income	Kidhome	Teenhome	Dt_Customer	Recency	MntWines	MntFruits	MntMeatProducts	MntFishProducts	MntSweetProducts	MntGoldProds	NumDealsPurchases	NumWebPurchases	NumCatalogPurchases	NumStorePurchases	NumWebVisitsMonth	AcceptedCmp3	AcceptedCmp4	AcceptedCmp5	AcceptedCmp1	AcceptedCmp2	Complain	Z_CostContact	Z_Revenue	Response  2240 non-null   object
dtypes: object(1)
memory usage: 17.6+ KB

Tên các cột trong dataset là:
['ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse']

# 2. LOẠI BỎ DỮ LIỆU TRÙNG LẶP

In [10]:
# Xem 5 dòng đầu tiên của dữ liệu
print(marketing_data.head())

# 1. Loại bỏ các dòng trùng lặp
marketing_data = marketing_data.drop_duplicates()
print("Da loai bo cac dong trung lap. So dong con lai:", len(marketing_data))

# 2. Xoa mot dong cu the theo chi so (vi du: dong co index = 1)
if 1 in marketing_data.index:
    marketing_data = marketing_data.drop(labels=[1], axis=0)
    print("Da xoa dong co index = 1.")
else:
    print("Khong co dong nao co index = 1, bo qua buoc nay.")

# 3. Xoa cot 'Year_Birth' neu ton tai
if 'Year_Birth' in marketing_data.columns:
    marketing_data = marketing_data.drop(columns=['Year_Birth'])
    print("Da xoa cot 'Year_Birth'.")
else:
    print("Cot 'Year_Birth' khong ton tai, bo qua buoc nay.")

# 4. Hien thi du lieu sau khi lam sach
print("\nDu lieu sau khi lam sach:")
print(marketing_data.head())

# 5. Kiem tra lai thong tin cac cot
print("\nCac cot con lai trong dataset:")
print(marketing_data.columns.tolist())

  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
Da loai bo cac dong trung lap. So dong con lai: 2240
Da xoa dong co index = 1.
Cot 'Year_Birth' khong ton tai, bo qua buoc nay.

Du lieu sau khi lam sach:
  ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...
5  7446\t1967\tMaster\tTogether\t62513\t0\t1\t09-...

Cac cot con lai trong dataset:
['ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse']

# 3. Thay thế dữ liệu và thay đổi định dạng của dữ liệu

In [14]:
# 1. Import thư viện
import pandas as pd

# 2. Đọc dữ liệu từ file CSV (file nằm cùng thư mục với notebook)
marketing_data = pd.read_csv("marketing_campaign.csv", sep='\t')

# 3. Kiểm tra tên các cột
print("Danh sách các cột:")
print(marketing_data.columns.tolist())

# 4. Giữ lại các cột cần thiết
cols_to_keep = [
    'ID', 'Year_Birth', 'Education', 'Marital_Status',
    'Income', 'Kidhome', 'Teenhome', 'Dt_Customer',
    'Recency', 'NumStorePurchases', 'NumWebVisitsMonth'
]
marketing_data = marketing_data[cols_to_keep]

# 5. Thay thế giá trị trong cột Teenhome
marketing_data['Teenhome_replaced'] = marketing_data['Teenhome'].replace(
    [0, 1, 2],
    ['has no teen', 'has teen', 'has teen']
)

# 6. Điền giá trị thiếu trong cột Income bằng 0
marketing_data['Income'] = marketing_data['Income'].fillna(0)

Danh sách các cột:
['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']

In [13]:
print(marketing_data.columns.tolist())

['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'NumStorePurchases', 'NumWebVisitsMonth', 'Teenhome_replaced']

# 4. Xử lý dữ liệu thiếu

In [15]:
# Check for missing values using the isnull and sum methods
marketing_data.isnull().sum()
# Drop missing values using the dropna method
marketing_data_withoutna = marketing_data.dropna(how = 'any')
marketing_data_withoutna.shape

(2240, 12)