In [1]:
import pandas as pd
import numpy as np

In [2]:
datapath = ''  
file_path = "/workspaces/KTLT-ECO-CT7/Lab_MidTerm_1/marketing_campaign_clean.csv"
sep = ',' 
target = ''

In [4]:
import pandas as pd

file_path = "/workspaces/KTLT-ECO-CT7/Lab_MidTerm_1/marketing_campaign_clean.csv"
df = pd.read_csv(file_path, sep=',')
dft = df[:]
print("Shape:", df.shape)
df.head(1)

Shape: (2240, 29)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1

## Kết thúc